<footer>
    <div class="upper-footer">
        <div class="logo-text">
            <h1>Logo</h1>
            <p>
                This single action my not change the world but it changes the world of those 
                who are ­­­­­helped.
            </p>
        </div>
        <div class="address">
            <h2>Address</h2>
            <ul>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel: 250 788 695 515">+250 788 695 515</a>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <a href="mailto:smile@gmail.com">smile@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="newsletter">
            <h2>Newsletter</h2>
            <p>You will be notified when something comes up.</p>
            <input type="mail">
        </div>
    </div>
    <hr>
    <div class="lower-footer">
        <p>@Copyright Smile Orphanage & Charity. All rights reserved.</p>  
        <div class="terms">
            <a href="">Privacy and Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
    </div>
</footer>