footer{
    font-family: 'Poppins', sans-serif;
    background-image: url('../../assets/photo-1464639351491-a172c2aa2911.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}