<div class="row">
    <h3 class="title is-3">Fill this form to raise the fund</h3>
    <p>Please rest assured that any means you will use to donate
        are safe and trustworthy. 
        For further information <a href="#" id="link">click here</a> <br>
        Fields with <span>*</span> are required</p>
</div>
<div class="form-row">
    <form action="#" #donateForm="ngForm">
        <div class="container">

        
        <div class="field">
            <div>
                <label for="names" class="label">Names<span>*</span></label>
            </div>
            <div>
                <input 
                type="text" 
                class="text-line" 
                id="names" 
                name="names"
                [(ngModel)]="names"
                #namesInput="ngModel"
                required>

                <div class="help is-error" *ngIf="namesInput.invalid && namesInput.touched">
                    Your names are required.
                </div>
            </div>
        </div>
        <div class="field">
            <div>
                <label for="phone" class="label">Phone Number<span>*</span></label>
            </div>
            <div>
                <input 
                type="tel" 
                class="text-line" 
                id="phone" 
                name="phone"
                [(ngModel)]="phone"
                #phoneInput="ngModel"
                required>

                 <div class="help is-error" *ngIf="phoneInput.invalid && phoneInput.touched">
                    Your Phone Number is required.
                </div>
            </div>
        </div>
        <div class="field">
            <div>
                <label for="email" class="label">Email</label>
            </div>
            <div>
                <input 
                type="email" 
                class="text-line" 
                id="email" 
                name="email"
                [(ngModel)]="email"
                #emailInput="ngModel">
            </div>
            
             <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
                Invalid email.
            </div>
        </div>
        <div class="field">
            <div>
                <label for="amt" class="label">Amount<span>*</span></label>
            </div>
            <div>
                <input 
                type="number" 
                class="text-line" 
                id="amt" 
                name="amount"
                [(ngModel)]="amount"
                #amtInput="ngModel"
                required>
            </div>

             <div class="help is-error" *ngIf="amtInput.invalid && amtInput.touched">
               The amount is required.
            </div>
        </div>
        <div class="field">
            <div>
                <label for="amt" class="label">Mode of Payment<span>*</span></label>
            </div>
            <div class="payments">
                <button class="button is-rounded">Bank Transfer</button>
                <div class="pay1">
                </div>
                <div class="pay2">
                </div>
            </div>
        </div>
        <div class="field">
            <button 
            type="submit"
            class="button is-danger is-rounded is-link"
            [disabled]="donateForm.invalid">
            Donate</button>
        </div>
    </div>
    </form>
</div>
