#link,span{
    text-decoration: none;
    color: #FF0101;
}
h2{
    font-size: 20px;
}
.row{
    margin: 3em 5em;
}
.form-row{
    margin:50px auto;
    width: 40%;
    border-radius: 30px;
    box-shadow: 0px 0px 50px #ccc;
}
.text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    width: 100%;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #3a3a3a 1px;
    margin-bottom: 20px;
}
.field{
    width: 100%;
}
.container{
    padding: 50px;
}
label{
    font-size: 17px;
}
.payments{
    margin-top: 50px;
}
.pay1{
    display: inline-block;
    background-image: url('../../assets/images/paypal.png');
    width: 130px;
    height: 125px;
    background-color: yellow;
    margin-left: 20px; 
}
.pay2{
    display: inline-block;
    background-image: url('../../assets/images/momo.png');
    width: 135px;
    height: 125px;
    background-color: yellow;
}
.help{
    color: #FF0101;
    margin-top: -10px;
}
.is-danger{
    display: flex;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    color: #ffff;
    background-color: #FF0101;
    border-radius: 30px;
    border: none;
    text-align: center;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
}
.is-danger:hover{
    background-color: white;
    color: #FF0101;
    border: 1px solid #FF0101;
}