<div class="row">
    <h2>Fill this form to raise the fund</h2>
    <p>Please rest assured that any means you will use to donate
        are safe and trustworthy. 
        For further information <a href="#" id="link">click here</a> <br>
        Fields with <span>*</span> are required</p>
</div>
<div class="form-row">
    <form action="">
        <div class="field">
            <div>
                <label for="names">Names<span>*</span></label>
            </div>
            <div>
                <input type="text" class="text-line" id="names">
            </div>
        </div>
        <div class="field">
            <div>
                <label for="phone">Phone Number<span>*</span></label>
            </div>
            <div>
                <input type="tel" class="text-line" id="phone">
            </div>
        </div>
        <div class="field">
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="email" class="text-line" id="email">
            </div>
        </div>
        <div class="field">
            <div>
                <label for="amt">Amount<span>*</span></label>
            </div>
            <div>
                <input type="number" class="text-line" id="amt">
            </div>
        </div>
        <div class="field">
            <div>
                <label for="amt">Mode of Payment<span>*</span></label>
            </div>
            <div>
                <button class="trans">Bank Transfer</button>
                <div class="pay1">
                </div>
                <div class="pay2">
                </div>
            </div>
        </div>
    </form>
</div>
